
.sidenav {
 height:900px;
 width: 400px; 
 position:fixed;
 z-index: 1; 
 left:0px;
 background-color: #242424; 
 text-align: center;
 opacity: 0.9;
 overflow-x: hidden; 
 padding-top: 60px; 

}

.sidenav a {
 padding: 18px 8px 8px 10px;
 cursor: pointer;
 text-decoration: none;
 font-size: 25px;
 color:grey;
 display: block;
 transition: 0.3s;
 margin-top: 10px;
}

.sidenav a:hover {
 color: #f1f1f1;
}
